.form-style {
  box-shadow: 10px 10px 4px #105a59;
}

.input-style {
  transition: 0.3s ease-in-out;
}

.input-style:focus {
  box-shadow: 10px 10px 4px #105a59;
  transform: scale(1.1);
}

/* Custom scrollbar */
.dropdown-scroll::-webkit-scrollbar {
  width: 6px;
}

.dropdown-scroll::-webkit-scrollbar-thumb {
  background-color: #0d3b35;
  border-radius: 10px;
}

.dropdown-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.btn-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn-submit:hover {
  transform: scale(1.1);
}

.btn-submit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: -100%;
  transition: all 0.4s ease;
}

.btn-submit:hover::before {
  left: 0;
}
