.form-style-light {
  box-shadow: 10px 10px 4px #105a59;
}

.form-style-dark {
  box-shadow: 10px 10px 4px #c2ebfa;
}

.input-style-light,
.input-style-dark {
  transition: 0.3s ease-in-out;
}

.input-style-light:focus {
  box-shadow: 10px 10px 4px #105a59;
  transform: scale(1.1);
}

.input-style-dark:focus {
  box-shadow: 10px 10px 4px #c2ebfa;
  transform: scale(1.1);
}

/* Custom scrollbar */
.dropdown-scroll::-webkit-scrollbar {
  width: 6px;
}

.dropdown-scroll::-webkit-scrollbar-thumb {
  background-color: #0d3b35;
  border-radius: 10px;
}

.dropdown-scroll::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

.input-bn::placeholder {
  font-family: "Baloo Da", sans-serif;
}

.input-en::placeholder {
  font-family: "Amiri", serif;
}