.arabic {
  font-size: 35px;
  font-weight: bold;
  font-family: "Lateef", serif;
  direction: rtl;
}

.form-style-light {
  box-shadow: 10px 10px 4px var(--color-text-light);
}

.form-style-dark {
  box-shadow: 10px 10px 4px #9bc8dba8;
}
