.link-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.link-style:hover {
  transform: scale(1.3);
}

.link-style::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: -100%;
  transition: all 0.4s ease;
}

.link-style:hover::before {
  left: 0;
}
