@import "tailwindcss";

@theme {
  --font-amiri: "Amiri", sans-serif;
  --font-lateef: "Lateef", sans-serif;
  --font-balooDa: "Baloo Da 2", sans-serif;

  /* Colors */

  /* Light Mode */
  --color-text-light: #105a59;
  --color-bg-light: #e4f6d9;

  /* Dark Mode */
  --color-text-dark: #c2ebfa;
  --color-bg-dark: #061429;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
